* {
    box-sizing: border-box;
}

body {
    margin-left: 280px;
    font-family: Arial, Helvetica, sans-serif;
}

.pic {
    border-radius: 50%;
    width: 18px;
    height: 18px;
    margin-block-end: -6px;
    margin-inline-end: 5px;
}

.blog h6 {
    font-size: 8.5px;
    color: rgb(114, 117, 117);
    font-weight: lighter;
}

.pic1 {
    width: 975px;
    margin-top: -5px;
    border-top: 1px solid rgb(227, 233, 231);
    padding-top: 25px;
}
   
.blog p {
    color: black;
    font-size: 15px;
    line-height: 1.7;
    margin-left: 0px;
}
 

 